.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f8fa;
  margin: 40px;
}
h2 {
  color: #333;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 700px;
  margin: auto;
}
.form-group {
  margin-bottom: 15px;
}
input[type="text"], input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  background-color: #0056b3;
}
.download-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 15px;
}
.download-btn:hover {
  background-color: #1e7e34;
}
.status-label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  padding: 8px 15px;
  border-radius: 6px;
  display: inline-block;
}
.accepted {
  color: white;
  background-color: green;
}
.not-accepted {
  color: white;
  background-color: red;
}
.result-card {
  margin-top: 20px;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
}
.field {
  margin: 6px 0;
}
.field span {
  font-weight: bold;
}
#status-section {
  text-align: center;
  margin-top: 20px;
}
.my-toast-error { 
  background-color: #fff !important; /* bright yellow */
  color: #000 !important;               /* black text */
  font-weight: 600;
  border-left: 6px solid #ff3b3b;       /* darker yellow border */
  border-radius: 8px;
  padding: 12px;
}
.my-toast-warning {
  background-color: #fff !important; /* bright yellow */
  color: #000 !important;               /* black text */
  font-weight: 600;
  border-left: 6px solid #eab308;       /* darker yellow border */
  border-radius: 8px;
  padding: 12px;
}

.my-toast-success {
  background-color: #22c55e !important;   /* green */
  color: #fff !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
